body {background-color: lightgray;
}

#nav a {
    color: white;
    padding: 14px 25px;
    display: inline-block;
    background-color: blue;
    text-align: center;
    text-decoration: none;
}
div#nav {
    a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
	
}
div#content {
    background: white;
	border-style: groove;
    border-left-width: 3px;
	text-align: justify;
}
div#logo {
	float: h1
}

div#footer{
	text-align: right;
}
